<div>
    <mat-card class="banner">
        <h1 class="text-size">bllurryy.k</h1>

        <div class="center">
            <mat-card class="card">
                <h1 class="txt-center">Error 404</h1>
                <mat-card-content>
                    <mat-card-title>A página que você tentou acessar não está disponível ou nunca nem existiu</mat-card-title>
                </mat-card-content>
            </mat-card>
        </div>
        
        <div class="center">
            <mat-card>
                <button mat-button a routerLink="../home">Retornar para tela inicial</button>
            </mat-card>
        </div>
    </mat-card>
    
</div>

