.banner {

    margin-bottom: 2px;
    padding-top: 15%;
    padding-bottom: 15%;
    text-align: center;
    background-image: url("https://i.gifer.com/33HO.gif");
    /* background-size: 1500px; */
}

.text-size {
    font-size: 300px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 180px;
}

.subtitle-size {
    font-size: 50px;
}

.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.txt-center{
    text-align: center;
    font-size: 100px;
    margin-top: 20px;
    margin-bottom: 40px;
}
