.toolbar {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.toolbar button:hover {
    background-color: #7A00FE;
    transition: 1000ms;
}

.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 10%;
    float: left;
    position: relative;
    margin: 20px 10px;
}

.card-info1 {
    float: left;
    width: 20%;
    margin: 20px 10px;
    background-color: #0D1117;
}

.card-info2 {
    float: left;
    width: 40%;
    margin: 20px 10px;
    background-color: #0D1117;
}

.logo {
    min-width: 400px; 
    max-width: 400px;
    width: 400px;
    align-items: left; 
    alt: "título com o nick do Kledyson Goes";
}

.certificado {
    cursor: pointer;
}

.certificado:hover {
    background-color: #7A00FE;
}

.cert-img {
    width: 100%;
    margin-bottom: 14px;
}