<mat-toolbar color="primary" class="toolbar">
    <button mat-button a routerLink="../home"><h1>BLLURRYYK</h1></button>
    <button mat-button a routerLink="../home">HOME</button>
    <button mat-button a routerLink="../projetos">PROJETOS</button>
    <button mat-button a routerLink="../about">SOBRE MIM</button>
    <button mat-button a routerLink="../home-redcat">RED CAT GAMES</button>
    <button mat-button a routerLink="../donate">DONATE</button>
    <button mat-button><mat-icon svgIcon="candy"></mat-icon></button>
</mat-toolbar>    

<!-- <div class="center2">
    <mat-card class="card-info1">
        <img src="../../../assets/pictures/pictures/avatar-1.jpg" class="avatar">
        <mat-card-content class="content">
            <h1>Kledyson Goes</h1>
            <h3><mat-icon>location_on</mat-icon> Aracaju, Sergipe</h3>
        </mat-card-content>
    </mat-card>
</div> -->

<div class="center2">
    <mat-tab-group>
        <mat-tab label="infos">
            <mat-card class="card-info1">
                <img src="../../../assets/pictures/pictures/avatar-1.jpg" class="avatar">
                <mat-card-content class="content">
                    <h1>Kledyson Goes</h1>
                    <h3><mat-icon>location_on</mat-icon> Aracaju, Sergipe</h3>
                </mat-card-content>
            </mat-card>
            <mat-card class="card-info2">
                <img src="../../../assets/pictures/logo/logo.png" class="logo">
                <h1>Hello There!</h1>
                <p>Meu nome é Kledyson, tenho 20 anos, estou cursando ciência da computação e atualmente trabalho como analista de implantação. Também estou iniciando a atuação como desenvolvedor de Front-End.</p>
                <h2>🌸 Principais Skills: Python, HTML, CSS, JavaScript</h2>
                <h2>🌱 Atualmente Estudando: C#, Angular, TypeScript</h2>
            </mat-card>
            <mat-card class="card-info2">
                <h1>Skills</h1>
                <h2>Python</h2>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 72%">
                      <span class="sr-only">80% Complete</span>
                    </div>
                </div>
                <h2>HTML</h2>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                      <span class="sr-only">80% Complete</span>
                    </div>
                </div>
                <h2>CSS</h2>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
                      <span class="sr-only">80% Complete</span>
                    </div>
                </div>
                <h2>JavaScript</h2>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                      <span class="sr-only">1% Complete</span>
                    </div>
                </div>
                <h2>C#</h2>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 2%">
                      <span class="sr-only">2% Complete</span>
                    </div>
                </div>
            </mat-card>
        </mat-tab>

        <mat-tab label="Certificados">
            <mat-card class="toolbar-title">
                <h1><mat-icon>view_day</mat-icon>Do mais recente ao mais antigo</h1>
            </mat-card>

            <mat-card class="certificado">
                <a href="https://cursos.alura.com.br/certificate/94648b5f-4b6b-407e-9085-91eb3ec5a868" target="_blank">
                    <img src="../../../assets/pictures/certificados/html  - css/HTML5 e CSS3 parte 1 - A primeira página da Web - Alura.png" class="cert-img">
                </a>   
                <mat-card-title>HTML5 e CSS3 parte 1 - A primeira página da Web - Alura</mat-card-title>
            </mat-card>
        </mat-tab>

        <!-- <mat-tab label="Experiências e Conhecimentos">

        </mat-tab> -->

        <mat-tab label="Social">
            
        </mat-tab>
    </mat-tab-group>
</div>    
