<!-- menu -->
<mat-toolbar color="primary" class="menu">
    <button mat-button a routerLink="../home"><h1>bllurryy.k</h1></button>
    <button mat-button a routerLink="../home">HOME</button>
    <button mat-button a routerLink="../projetos">PROJETOS</button>
    <button mat-button a routerLink="../about">SOBRE MIM</button>
    <button mat-button a routerLink="../home-redcat">RED CAT GAMES</button>
    <button mat-button a routerLink="../donate">DONATE</button>
    <button mat-button><mat-icon svgIcon="candy"></mat-icon></button>
</mat-toolbar>

<!-- page -->
<div class="div">
    <mat-card>
        <div class='top-picture'>
            <img mat-card-image src="https://avatars2.githubusercontent.com/u/20758261?s=460&u=f37190e17771600ff29a3dfd44632ecd18c4f132&v=4" class="avatar">
        </div>
    </mat-card>
    <div class="div-2">
        <mat-card>
            <mat-card-title>
                Skills
            </mat-card-title>
            <mat-card-content>
                <mat-card-title>Python</mat-card-title>
                <mat-progress-bar mode='determinate' value='50' color='accent'></mat-progress-bar>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="div-3">
        <mat-card>
            <mat-card-title>
                Outros
            </mat-card-title>
            <mat-card-content>

            </mat-card-content>
        </mat-card>
    </div>
</div>
