<div>
    <mat-card class="banner">
        <img mat-card-image src="../../../../assets/pictures/home/banner-cropped-2.png">
    </mat-card>
</div>

<!-- <div class="center">
    <button mat-button color="primary" class="button" a routerLink='/projetos'>Projetos</button>
    <button mat-button color="primary" class="button" a routerLink='/about'>Sobre Mim</button>
    <button mat-button color="primary" class="button" a routerLink='/home-redcat'>Red Cat Games</button>
    <button mat-button color="primary" class="button">Apoie-me</button>
</div> -->

<div class="center">
    <mat-card class="card" a routerLink='/projetos'>
        <img mat-card-image src="../../../assets/pictures/menu-inicial/v1-1.png" class="icon-menu">
        <mat-card-header>
            <mat-card-title class="text-menu">Projetos</mat-card-title>            
        </mat-card-header>
        <mat-card-content>

        </mat-card-content>
    </mat-card>
    <mat-card class="card" a routerLink='/about'>
        <img mat-card-image src="../../../assets/pictures/menu-inicial/v1-2.png" class="icon-menu">
        <mat-card-header>
            <mat-card-title>Sobre Mim</mat-card-title>            
        </mat-card-header>
        <mat-card-content>

        </mat-card-content>
    </mat-card>
</div>
<div class="center">
    <mat-card class="card" a routerLink='/about'>
        <img mat-card-image src="../../../assets/pictures/menu-inicial/v1-3.png" class="icon-menu">
        <mat-card-header>
            <mat-card-title>Red Cat</mat-card-title>            
        </mat-card-header>
        <mat-card-content>

        </mat-card-content>
    </mat-card>
    <mat-card class="card" a routerLink='/about'>
        <img mat-card-image src="../../../assets/pictures/menu-inicial/v1-4.png" class="icon-menu">
        <mat-card-header>
            <mat-card-title>Apoie-me</mat-card-title>            
        </mat-card-header>
        <mat-card-content>

        </mat-card-content>
    </mat-card>   
</div>

<!-- <div class="center">
    <button mat-button class="button2" a routerLink="../home"><mat-icon svgIcon="br-flag"></mat-icon></button>
    <button mat-button class="button2" a routerLink="../home-english"><mat-icon svgIcon="usa-flag"></mat-icon></button>    
</div> -->

<!-- <div class="footer">
    <p>site by: bllurryyk</p>
</div> -->
