<div>
    <mat-card class="banner"></mat-card>
</div>

<div class="center">
    <button mat-button color="primary" class="button" a routerLink='/projetos'>Projetos</button>
    <button mat-button color="primary" class="button" a routerLink='/about'>Sobre Mim</button>
    <button mat-button color="primary" class="button" a routerLink='/home-redcat'>Red Cat Games</button>
    <button mat-button color="primary" class="button">Apoie-me</button>
</div>

<!-- <div class="center">
    <button mat-button class="button2" a routerLink="../home"><mat-icon svgIcon="br-flag"></mat-icon></button>
    <button mat-button class="button2" a routerLink="../home-english"><mat-icon svgIcon="usa-flag"></mat-icon></button>    
</div> -->

