<div>
    <mat-card class="banner"></mat-card>
</div>

<!-- <div class="center">
    <mat-card class="card-menu" a routerLink="../projetos">
        <mat-card-title>Projetos</mat-card-title>
    </mat-card>

    <mat-card class="card-menu" a routerLink="../about">
        <mat-card-title>Sobre Mim</mat-card-title>
    </mat-card>

    <mat-card class="card-menu" a routerLink="../home-redcat">
        <mat-card-title>Red Cat Games</mat-card-title>
    </mat-card>

    <mat-card class="card-menu" a routerLink="../donate">
        <mat-card-title>Apoie-me</mat-card-title>
    </mat-card>
</div> -->

<div class="center">
    <button mat-button color="primary" class="button" a routerLink='../home'>Projects</button>
    <button mat-button color="primary" class="button" a routerLink='/about'>About Me</button>
    <button mat-button color="primary" class="button">Red Cat Games</button>
    <button mat-button color="primary" class="button">Donate</button>
</div>

<div class="center">
    <button mat-button class="button2" a routerLink="../home"><mat-icon svgIcon="br-flag"></mat-icon></button>
    <button mat-button class="button2" a routerLink="../home-english"><mat-icon svgIcon="usa-flag"></mat-icon></button>    
</div>

