<mat-toolbar class="toolbar">
    <button mat-button a routerLink="../home-redcat"><h1>Red Cat Games</h1></button>
    <button mat-button a routerLink="../games">games</button>
    <button mat-button a routerLink="../team-redcat">equipe</button>
    <button mat-button a routerLink="../store">loja</button>
    <button mat-button a routerLink="../about-redcat">sobre</button>
    <button mat-button a routerLink="../join-redcat">junte-se a nós</button>
</mat-toolbar>
<!-- banner -->
<div>
    <mat-card class="banner">
        <img src="../../../../assets/pictures/red-cat/red-cat-games-mascot-v1-2.png" class="img">
        <h1 class="name">RED CAT GAMES</h1>
        <h1 class="titulos">_nós chegamos para fazer história.</h1>
    </mat-card>
</div>
<!-- news-->
<div>
    <mat-toolbar>
        <h1>Últimas novidades</h1>
    </mat-toolbar>
    <!-- ultimas noticias -->
    <div class="news-div">
        <mat-card class="news">
            <mat-card-title>
                Anúncio do primeiro jogo
            </mat-card-title>
            <mat-card-subtitle>Finalmente no dia 15.11.20 estaremos anúnciando nosso primeiro jogo</mat-card-subtitle>
        </mat-card>

        <mat-card class="news">
            <mat-card-title>
                Anúncio do primeiro jogo
            </mat-card-title>
            <mat-card-subtitle>Finalmente no dia 15.11.20 estaremos anúnciando nosso primeiro jogo</mat-card-subtitle>
        </mat-card>

        <mat-card class="news">
            <mat-card-title>
                Anúncio do primeiro jogo
            </mat-card-title>
            <mat-card-subtitle>Finalmente no dia 15.11.20 estaremos anúnciando nosso primeiro jogo</mat-card-subtitle>
        </mat-card>

        <mat-card class="news">
            <mat-card-title>
                Mais novidades
            </mat-card-title>
            <mat-card-subtitle>Veja notícias mais antigas</mat-card-subtitle>
        </mat-card>
    </div>
</div>